
.dashboard-conatiner{
    box-shadow: 5px 5px 5px 2px #00000040;
   background-color: #FAF7F7;
   padding: 20px;
   border-radius: 20px;
}

.dashboard-conatiner1{
    flex: 1;
    box-shadow: 5px 5px 5px 2px #00000040;
   background-color: #FAF7F7;
   padding: 20px;
   border-radius: 20px;
}
.card-main{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 gap: 20px;
}
.card-container{
    display: flex;
    gap: 10px;
    box-shadow: 4px 4px 4px 0px #00000040;
    border-radius: 14px;
    padding: 10px;
    cursor: pointer;
}
.leatest-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.table-container2 {
    height: 50vh;
    overflow-y: scroll;
}

.customers2 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 0px 20px;
}

.customers2 td,
.customers2 th {
    padding: 8px;
}

.customers2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}
.leatest-user-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 50vh;
    overflow-y: scroll;
    .leatest-user{
        display: flex;
        align-items: center;
        gap: 10px;
    }

}