.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-body {
    background-color: #F4AEAA;
    box-shadow: 2px 2px 2px 2px #00000040;
    padding: 10px 60px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.text-color {
    color: #F74239;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.logo {}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input {
        padding: 12px 16px;
        width: 250px;
        border: none;
        border-radius: 20px;
        box-shadow: 2px 2px 2px 2px #00000040;
        background: #D9D9D9;
    }
}

.login-button {
    background-color: #F6625B;
    color: #FFFFFF;
    border: none;
    margin-top: 40px;
    border-radius: 16px;
    height: 50px;
    width: 180px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 5px;
}

.form-footer {
    font-size: 14px;
    font-weight: bold;
}

.text1 {
    color: #F74239;
    cursor: pointer;
}