.user-container {
    box-shadow: 8px 6px 4px 2px #00000040;
    border-radius: 24px;


}

.table-container {
    padding: 0px 20px;
    height: 70vh;
    overflow-y: scroll;
}

.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 0px 20px;
}

.customers td,
.customers th {
    padding: 8px;
}

.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}